/* 노멀라이징 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    font-size:16px;
    font-family:'GmarketSansMedium';
}
a{
    text-decoration:none;
    color:inherit;
}
ul, ol, li{
    list-style:none;
}
a:hover{
    color:rgb(247, 110, 60);
}


.wrap{
    width:100%;
    height:auto;
    display:flex;
    position:relative;
}
.side-bar-open{
    padding-top:20px;
    padding-left:20px;
    cursor:pointer;
    position:absolute;
    z-index:111;
}
.side-bar-open:hover{
    color:rgb(247, 110, 60);
}
.side-bar{
    position:absolute;
    width:0;
    height:100%;
    padding-top:20px;
    padding-left:0;
    transition:0.5s;
    box-sizing:border-box;
    background-color:#f8ca00;
    overflow:hidden;
    z-index:999;
}
.side-bar.active{
    width:200px;
    padding-left:20px;
}
.side-bar .side-bar-close{
    margin-bottom:16px;
    cursor:pointer;
}
.side-bar .side-bar-close:hover{
    color:rgb(247, 110, 60);
}

.side-bar>.portfolio{
    margin-top:10px;
    font-size:1.5rem;
    font-weight:bold;   
}
.side-bar>li>a{
    font-size:1.5rem;
    font-weight:bold;

}
.side-bar>li>ul{
    box-sizing:border-box;

}
.side-bar>li>ul>li>a{
    font-size:1.2rem;
    font-weight:normal;
}
.content{
    margin-top:40px;
    width:100%;
}
.content>img {
    width:100%;
}
.content_intro{
    box-sizing:border-box;
    padding:20px;
}
.content_intro > .intro{
    width:100%;
    margin-bottom:30px;
}
.content_intro>.intro>.title{
    margin-bottom:10px;
    font-size:1.2rem;
    font-weight:bold;
    padding-left:4px;
}
.content_intro>.intro>.text{
    line-height:1.4;
    text-indent:4px;
}
.content_portfolio>iframe{
    width:99%;
    height:90vh;
}
.content_portfolio>video{
    width:99%;
}
.content_portfolio.three-d>.project-list{
    width: 100%;
    height:100vh;
    padding:20px;
    box-sizing:border-box;
}

/* portfolio_3d start */

.content_portfolio.three-d .project{
    width:100%;
    margin-bottom:16px;
    padding-bottom:8px;
    border-bottom:1px solid black;
}
.content_portfolio.three-d .project:last-child{
    border:0;
}
.content_portfolio.three-d .project__title{
    font-weight:bold;
    font-size:1.0rem;
}
.content_portfolio.three-d .project__description{
    width: 100%;
    display:flex;
    justify-content:space-between;
}
.content_portfolio.three-d .project__image-box{
    width: 40%;
    padding-bottom:calc(40% *(9/16));
    position:relative;
    overflow:hidden;
}
.content_portfolio.three-d .project__image{
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.content_portfolio.three-d .project__text-box{
    width: 55%;
}
.content_portfolio.three-d .project__text{
    margin-bottom:8px;
}

/* portfolio_3d end */


